In [35]:
filename = "data/housing.csv"
data = []
# with open(filename, 'r',encoding="utf8") as file:
f = open(filename,'r',encoding="utf8")
df = f.readlines()
for line in df:
    line1=line.split(',')
    data.append(line1)
header = data[0]
values = data[1:]

In [36]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn

def create_table(conn, create_table_sql, drop_table_name=None):
    if drop_table_name: # You can optionally pass drop_table_name to drop the table. 
        try:
            c = conn.cursor()
            c.execute("""DROP TABLE IF EXISTS %s""" % (drop_table_name))
        except Error as e:
            print(e)
    
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()
    print(rows)
    return rows

def insert_into_tables(conn, sql_insert_statement, values):
    sql = """ INSERT INTO EMPLOYEES VALUES(?, ?, ?) """
    cur = conn.cursor()
    cur.executemany(sql_insert_statement, values)
    return cur.lastrowid

conn = create_connection("database/USRent.db")

In [39]:
housing_table = "CREATE TABLE HousingList (listing_id INTEGER NOT NULL PRIMARY KEY REFERENCES MetaData(listing_id) , price INTEGER, sqfeet INTEGER, beds INTEGER, baths INTEGER, cats_allowed INTEGER, dogs_allowed INTEGER, smoking_allowed INTEGER, wheelchair_access INTEGER, electric_vehicle_charge INTEGER, comes_furnished INTEGER, location_id TEXT NOT NULL REFERENCES Location(location_id), laundry_id TEXT NOT NULL REFERENCES Laundry(laundry_id),housing_type_id TEXT NOT NULL REFERENCES HousingType(housing_type_id), parking_id TEXT NOT NULL REFERENCES Parking(parking_id))"

metadata_table = "CREATE TABLE MetaData (listing_id INTEGER NOT NULL PRIMARY KEY, url TEXT, image_url TEXT)"

location_table = "CREATE TABLE Location (location_id INTEGER NOT NULL PRIMARY KEY, region TEXT, state TEXT)"

laundry_table = "CREATE TABLE Laundry (laundry_id INTEGER NOT NULL PRIMARY KEY, option_name TEXT)"

housingtype_table = "CREATE TABLE HousingType (housing_type_id INTEGER NOT NULL PRIMARY KEY, housing_type TEXT)"

parking_table = "CREATE TABLE Parking (parking_id INTEGER NOT NULL PRIMARY KEY, parking_type TEXT)"

with conn:
    create_table(conn, housing_table, "HousingList")
    create_table(conn, metadata_table, "MetaData")
    create_table(conn, location_table, "Location")
    create_table(conn, laundry_table, "Laundry")
    create_table(conn, housingtype_table, "HousingType")
    create_table(conn, parking_table, "Parking")
options = []

for i in values:
    try:
        options.append(i[15])
    except IndexError:
        continue
options = list(set(options))
insert_laundry_table = "Insert into Laundry(option_name) Values(?);"

with conn:
    cur = conn.cursor()
    cur.executemany(insert_laundry_table,[(option,) for option in options])

sql_statement = "select * from Laundry;"
execute_sql_statement(sql_statement, conn)

[(1, 'NA'),
 (2, 'laundry in bldg'),
 (3, 'w/d in unit'),
 (4, 'w/d hookups'),
 (5, 'no laundry on site'),
 (6, 'laundry on site')]

In [40]:
type = []

for i in values:
    try:
        type.append(i[5])
    except IndexError:
        continue
type = list(set(type))
insert_type_table = "Insert into HousingType(housing_type) Values(?);"

with conn:
    cur = conn.cursor()
    cur.executemany(insert_type_table,[(j,) for j in type])

sql_statement = "select * from HousingType;"
execute_sql_statement(sql_statement, conn)

[(1, 'in-law'),
 (2, 'assisted living'),
 (3, 'loft'),
 (4, 'land'),
 (5, 'duplex'),
 (6, 'condo'),
 (7, 'townhouse'),
 (8, 'manufactured'),
 (9, 'cottage/cabin'),
 (10, 'apartment'),
 (11, 'flat'),
 (12, 'house')]

In [41]:
parking = []

for i in values:

    try:
        parking.append(i[16])
    except IndexError:
        continue
parking = list(set(parking))
insert_parking_table = "Insert into Parking(parking_type) Values(?);"

with conn:
    cur = conn.cursor()
    cur.executemany(insert_parking_table,[(p,) for p in parking])


sql_statement = "select * from Parking;"
execute_sql_statement(sql_statement, conn)

[(1, 'NA'),
 (2, 'valet parking'),
 (3, 'street parking'),
 (4, 'no parking'),
 (5, 'off-street parking'),
 (6, 'detached garage'),
 (7, 'carport'),
 (8, 'attached garage')]

In [42]:
location = []

for i in values:
    try:
        a = i[20].strip()
        location.append(i[2]+'*'+a)
    except IndexError:
        continue

location = list(set(location))

st=[]
loc=[]
for i in location:
    a=i.split('*')
    st.append(a[1])
    loc.append(a[0])

insert_location_table = "Insert into Location(region,state) Values(?,?);"

with conn:
    cur = conn.cursor()
    cur.executemany(insert_location_table,[(l,s) for l,s in zip(loc,st)])

#have to split and save region and state

sql_statement = "select * from Location;"
execute_sql_statement(sql_statement, conn)

[(1, 'erie', 'pa'),
 (2, 'redding', 'ca'),
 (3, 'olympic peninsula', 'wa'),
 (4, 'bowling green', 'ky'),
 (5, 'victoria', 'tx'),
 (6, 'sacramento', 'ca'),
 (7, 'owensboro', 'ky'),
 (8, 'central michigan', 'mi'),
 (9, 'holland', 'mi'),
 (10, 'wausau', 'wi'),
 (11, 'SF bay area', 'ca'),
 (12, 'southeast missouri', 'mo'),
 (13, 'lehigh valley', 'pa'),
 (14, 'hickory / lenoir', 'nc'),
 (15, 'new orleans', 'la'),
 (16, 'east idaho', 'id'),
 (17, 'fort dodge', 'ia'),
 (18, 'sheboygan', 'wi'),
 (19, 'reading', 'pa'),
 (20, 'york', 'pa'),
 (21, 'yakima', 'wa'),
 (22, 'columbus', 'oh'),
 (23, 'kansas city', 'ks'),
 (24, 'potsdam-canton-massena', 'ny'),
 (25, 'hilton head', 'sc'),
 (26, 'palm springs', 'ca'),
 (27, 'albuquerque', 'nm'),
 (28, 'scranton / wilkes-barre', 'pa'),
 (29, 'cedar rapids', 'ia'),
 (30, 'savannah / hinesville', 'ga'),
 (31, 'lafayette / west lafayette', 'in'),
 (32, 'northern panhandle', 'oh'),
 (33, 'tyler / east TX', 'tx'),
 (34, 'meadville', 'pa'),
 (35, 'del rio / eagle pass', 'tx'),
 (36, 'baltimore', 'md'),
 (37, 'eastern CO', 'co'),
 (38, 'las cruces', 'nm'),
 (39, 'tri-cities', 'tn'),
 (40, 'south coast', 'ma'),
 (41, 'siskiyou county', 'ca'),
 (42, 'lima / findlay', 'oh'),
 (43, 'treasure coast', 'fl'),
 (44, 'south jersey', 'nj'),
 (45, 'binghamton', 'ny'),
 (46, 'albany', 'ga'),
 (47, 'frederick', 'md'),
 (48, 'heartland florida', 'fl'),
 (49, 'jacksonville', 'fl'),
 (50, 'lubbock', 'tx'),
 (51, 'southwest michigan', 'mi'),
 (52, 'greenville / upstate', 'sc'),
 (53, 'chicago', 'il'),
 (54, 'north jersey', 'nj'),
 (55, 'glens falls', 'ny'),
 (56, 'hudson valley', 'ny'),
 (57, 'lexington', 'ky'),
 (58, 'southwest KS', 'ks'),
 (59, 'central louisiana', 'la'),
 (60, 'imperial county', 'ca'),
 (61, 'harrisburg', 'pa'),
 (62, 'louisville', 'ky'),
 (63, 'mendocino county', 'ca'),
 (64, 'monroe', 'mi'),
 (65, 'waterloo / cedar falls', 'ia'),
 (66, "spokane / coeur d'alene", 'wa'),
 (67, 'orlando', 'fl'),
 (68, 'sarasota-bradenton', 'fl'),
 (69, 'jackson', 'ms'),
 (70, 'sioux falls / SE SD', 'sd'),
 (71, 'kennewick-pasco-richland', 'wa'),
 (72, 'charlottesville', 'va'),
 (73, 'statesboro', 'ga'),
 (74, 'medford-ashland', 'or'),
 (75, 'grand forks', 'nd'),
 (76, 'helena', 'mt'),
 (77, 'anchorage / mat-su', 'ak'),
 (78, 'des moines', 'ia'),
 (79, 'muskegon', 'mi'),
 (80, 'okaloosa / walton', 'fl'),
 (81, 'kansas city', 'mo'),
 (82, 'tuscarawas co', 'oh'),
 (83, 'lake charles', 'la'),
 (84, 'central NJ', 'nj'),
 (85, 'bend', 'or'),
 (86, 'fort collins / north CO', 'co'),
 (87, 'huntsville / decatur', 'al'),
 (88, 'north dakota', 'nd'),
 (89, 'upper peninsula', 'mi'),
 (90, 'buffalo', 'ny'),
 (91, 'new haven', 'ct'),
 (92, 'lansing', 'mi'),
 (93, 'moses lake', 'wa'),
 (94, 'chillicothe', 'oh'),
 (95, 'columbia / jeff city', 'mo'),
 (96, 'fort wayne', 'in'),
 (97, 'lafayette', 'la'),
 (98, 'daytona beach', 'fl'),
 (99, 'texarkana', 'ar'),
 (100, 'chautauqua', 'ny'),
 (101, 'sandusky', 'oh'),
 (102, 'outer banks', 'nc'),
 (103, 'st louis', 'mo'),
 (104, 'ft myers / SW florida', 'fl'),
 (105, 'columbus', 'ga'),
 (106, 'eastern kentucky', 'ky'),
 (107, 'long island', 'ny'),
 (108, 'monroe', 'la'),
 (109, 'texoma', 'ok'),
 (110, 'santa barbara', 'ca'),
 (111, 'atlanta', 'ga'),
 (112, 'klamath falls', 'or'),
 (113, 'battle creek', 'mi'),
 (114, 'western IL', 'il'),
 (115, 'ashtabula', 'oh'),
 (116, 'oregon coast', 'or'),
 (117, 'decatur', 'il'),
 (118, 'kirksville', 'mo'),
 (119, 'boulder', 'co'),
 (120, 'jonesboro', 'ar'),
 (121, 'brainerd', 'mn'),
 (122, 'appleton-oshkosh-FDL', 'wi'),
 (123, 'jacksonville', 'nc'),
 (124, 'san diego', 'ca'),
 (125, 'kokomo', 'in'),
 (126, 'augusta', 'ga'),
 (127, 'zanesville / cambridge', 'oh'),
 (128, 'auburn', 'al'),
 (129, 'saginaw-midland-baycity', 'mi'),
 (130, 'parkersburg-marietta', 'oh'),
 (131, 'richmond', 'va'),
 (132, 'santa fe / taos', 'nm'),
 (133, 'finger lakes', 'ny'),
 (134, 'altoona-johnstown', 'pa'),
 (135, 'gulfport / biloxi', 'ms'),
 (136, 'west virginia (old)', 'wv'),
 (137, 'inland empire', 'ca'),
 (138, 'springfield', 'il'),
 (139, 'huntington-ashland', 'wv'),
 (140, 'flagstaff / sedona', 'az'),
 (141, 'toledo', 'oh'),
 (142, 'knoxville', 'tn'),
 (143, 'southern maryland', 'md'),
 (144, 'ann arbor', 'mi'),
 (145, 'twin falls', 'id'),
 (146, 'oklahoma city', 'ok'),
 (147, 'wyoming', 'wy'),
 (148, 'little rock', 'ar'),
 (149, 'the thumb', 'mi'),
 (150, 'lewiston / clarkston', 'id'),
 (151, "spokane / coeur d'alene", 'id'),
 (152, 'southwest TX', 'tx'),
 (153, 'northwest KS', 'ks'),
 (154, 'northern WI', 'wi'),
 (155, 'stockton', 'ca'),
 (156, 'wichita falls', 'tx'),
 (157, 'western slope', 'co'),
 (158, 'hawaii', 'hi'),
 (159, 'prescott', 'az'),
 (160, 'florence / muscle shoals', 'al'),
 (161, 'cincinnati', 'oh'),
 (162, 'las vegas', 'nv'),
 (163, 'peoria', 'il'),
 (164, 'deep east texas', 'tx'),
 (165, 'ames', 'ia'),
 (166, 'roanoke', 'va'),
 (167, 'athens', 'oh'),
 (168, 'great falls', 'mt'),
 (169, 'gold country', 'ca'),
 (170, 'manhattan', 'ks'),
 (171, 'cumberland valley', 'md'),
 (172, 'modesto', 'ca'),
 (173, 'state college', 'pa'),
 (174, 'ogden-clearfield', 'ut'),
 (175, 'evansville', 'in'),
 (176, 'hanford-corcoran', 'ca'),
 (177, 'winchester', 'va'),
 (178, 'fayetteville', 'nc'),
 (179, 'scottsbluff / panhandle', 'ne'),
 (180, 'north platte', 'ne'),
 (181, 'lawrence', 'ks'),
 (182, 'south bend / michiana', 'mi'),
 (183, 'southeast IA', 'ia'),
 (184, 'gadsden-anniston', 'al'),
 (185, 'pensacola', 'fl'),
 (186, 'raleigh / durham / CH', 'nc'),
 (187, 'bemidji', 'mn'),
 (188, 'salem', 'or'),
 (189, 'rochester', 'ny'),
 (190, 'billings', 'mt'),
 (191, 'muncie / anderson', 'in'),
 (192, 'kenosha-racine', 'wi'),
 (193, 'boone', 'nc'),
 (194, 'san angelo', 'tx'),
 (195, 'monterey bay', 'ca'),
 (196, 'cape cod / islands', 'ma'),
 (197, 'el paso', 'tx'),
 (198, 'eastern NC', 'nc'),
 (199, 'bismarck', 'nd'),
 (200, 'eugene', 'or'),
 (201, 'north mississippi', 'ms'),
 (202, 'la salle co', 'il'),
 (203, 'janesville', 'wi'),
 (204, 'denver', 'co'),
 (205, 'hattiesburg', 'ms'),
 (206, 'harrisonburg', 'va'),
 (207, 'tulsa', 'ok'),
 (208, 'southern illinois', 'il'),
 (209, 'beaumont / port arthur', 'tx'),
 (210, 'kenai peninsula', 'ak'),
 (211, 'corpus christi', 'tx'),
 (212, 'south dakota', 'sd'),
 (213, 'tallahassee', 'fl'),
 (214, 'southwest MN', 'mn'),
 (215, 'wilmington', 'nc'),
 (216, 'panama city', 'fl'),
 (217, 'texarkana', 'tx'),
 (218, 'boise', 'id'),
 (219, 'greensboro', 'nc'),
 (220, 'southeast KS', 'ks'),
 (221, 'southwest MS', 'ms'),
 (222, 'college station', 'tx'),
 (223, 'plattsburgh-adirondacks', 'ny'),
 (224, 'jackson', 'tn'),
 (225, 'jackson', 'mi'),
 (226, 'new hampshire', 'nh'),
 (227, 'lancaster', 'pa'),
 (228, 'northern michigan', 'mi'),
 (229, 'houma', 'la'),
 (230, 'fredericksburg', 'va'),
 (231, 'southern WV', 'wv'),
 (232, 'mansfield', 'oh'),
 (233, 'winston-salem', 'nc'),
 (234, 'pittsburgh', 'pa'),
 (235, 'tuscaloosa', 'al'),
 (236, 'corvallis/albany', 'or'),
 (237, 'san marcos', 'tx'),
 (238, 'lakeland', 'fl'),
 (239, 'eastern panhandle', 'wv'),
 (240, 'macon / warner robins', 'ga'),
 (241, 'kalispell', 'mt'),
 (242, 'kalamazoo', 'mi'),
 (243, 'merced', 'ca'),
 (244, 'minneapolis / st paul', 'mn'),
 (245, 'morgantown', 'wv'),
 (246, 'killeen / temple / ft hood', 'tx'),
 (247, 'cookeville', 'tn'),
 (248, 'twin tiers NY/PA', 'ny'),
 (249, 'skagit / island / SJI', 'wa'),
 (250, 'akron / canton', 'oh'),
 (251, 'rochester', 'mn'),
 (252, 'lynchburg', 'va'),
 (253, 'stillwater', 'ok'),
 (254, 'boston', 'ma'),
 (255, 'montgomery', 'al'),
 (256, 'galveston', 'tx'),
 (257, 'mohave county', 'az'),
 (258, 'mankato', 'mn'),
 (259, 'laredo', 'tx'),
 (260, 'ithaca', 'ny'),
 (261, 'sioux city', 'ia'),
 (262, 'port huron', 'mi'),
 (263, 'joplin', 'mo'),
 (264, 'charleston', 'wv'),
 (265, 'high rockies', 'co'),
 (266, 'pullman / moscow', 'id'),
 (267, 'pullman / moscow', 'wa'),
 (268, 'odessa / midland', 'tx'),
 (269, 'omaha / council bluffs', 'ne'),
 (270, 'fresno / madera', 'ca'),
 (271, 'northeast SD', 'sd'),
 (272, 'iowa city', 'ia'),
 (273, 'green bay', 'wi'),
 (274, 'western KY', 'ky'),
 (275, 'norfolk / hampton roads', 'va'),
 (276, 'visalia-tulare', 'ca'),
 (277, 'roseburg', 'or'),
 (278, 'show low', 'az'),
 (279, 'huntington-ashland', 'ky'),
 (280, 'shreveport', 'la'),
 (281, 'meridian', 'ms'),
 (282, 'florence', 'sc'),
 (283, 'bakersfield', 'ca'),
 (284, 'rockford', 'il'),
 (285, 'salt lake city', 'ut'),
 (286, 'terre haute', 'in'),
 (287, 'bloomington', 'in'),
 (288, 'salina', 'ks'),
 (289, 'fargo / moorhead', 'mn'),
 (290, 'milwaukee', 'wi'),
 (291, 'santa maria', 'ca'),
 (292, 'yuba-sutter', 'ca'),
 (293, 'myrtle beach', 'sc'),
 (294, 'baton rouge', 'la'),
 (295, 'rhode island', 'ri'),
 (296, 'southeast alaska', 'ak'),
 (297, 'worcester / central MA', 'ma'),
 (298, 'dayton / springfield', 'oh'),
 (299, 'oneonta', 'ny'),
 (300, 'lewiston / clarkston', 'wa'),
 (301, 'ocala', 'fl'),
 (302, 'southwest VA', 'va'),
 (303, 'fort smith', 'ok'),
 (304, 'portland', 'or'),
 (305, 'northwest CT', 'ct'),
 (306, 'annapolis', 'md'),
 (307, 'humboldt county', 'ca'),
 (308, 'clovis / portales', 'nm'),
 (309, 'logan', 'ut'),
 (310, 'susanville', 'ca'),
 (311, 'pierre / central SD', 'sd'),
 (312, 'new river valley', 'va'),
 (313, 'pueblo', 'co'),
 (314, 'st augustine', 'fl'),
 (315, 'western maryland', 'md'),
 (316, 'abilene', 'tx'),
 (317, 'chico', 'ca'),
 (318, 'vermont', 'vt'),
 (319, 'st george', 'ut'),
 (320, 'madison', 'wi'),
 (321, 'nashville', 'tn'),
 (322, 'watertown', 'ny'),
 (323, 'birmingham', 'al'),
 (324, 'south florida', 'fl'),
 (325, 'la crosse', 'wi'),
 (326, 'jersey shore', 'nj'),
 (327, 'washington', 'dc'),
 (328, 'wichita', 'ks'),
 (329, 'utica-rome-oneida', 'ny'),
 (330, 'east oregon', 'or'),
 (331, 'provo / orem', 'ut'),
 (332, 'seattle-tacoma', 'wa'),
 (333, 'poconos', 'pa'),
 (334, 'elko', 'nv'),
 (335, 'brownsville', 'tx'),
 (336, 'space coast', 'fl'),
 (337, 'south bend / michiana', 'in'),
 (338, 'phoenix', 'az'),
 (339, 'champaign urbana', 'il'),
 (340, 'syracuse', 'ny'),
 (341, 'bellingham', 'wa'),
 (342, 'tucson', 'az'),
 (343, 'fayetteville', 'ar'),
 (344, 'athens', 'ga'),
 (345, 'st joseph', 'mo'),
 (346, 'quad cities', 'il'),
 (347, 'topeka', 'ks'),
 (348, 'gainesville', 'fl'),
 (349, 'florida keys', 'fl'),
 (350, 'dallas / fort worth', 'tx'),
 (351, 'mobile', 'al'),
 (352, 'flint', 'mi'),
 (353, 'st louis', 'il'),
 (354, 'yuma', 'az'),
 (355, 'rapid city / west SD', 'sd'),
 (356, 'mattoon-charleston', 'il'),
 (357, 'los angeles', 'ca'),
 (358, 'mcallen / edinburg', 'tx'),
 (359, 'richmond', 'in'),
 (360, 'cleveland', 'oh'),
 (361, 'bloomington-normal', 'il'),
 (362, 'omaha / council bluffs', 'ia'),
 (363, 'tampa bay area', 'fl'),
 (364, 'north central FL', 'fl'),
 (365, 'farmington', 'nm'),
 (366, 'indianapolis', 'in'),
 (367, 'brunswick', 'ga'),
 (368, 'dothan', 'al'),
 (369, 'waco', 'tx'),
 (370, 'asheville', 'nc'),
 (371, 'lake of the ozarks', 'mo'),
 (372, 'hartford', 'ct'),
 (373, 'fairbanks', 'ak'),
 (374, 'grand rapids', 'mi'),
 (375, 'ventura county', 'ca'),
 (376, 'maine', 'me'),
 (377, 'columbia', 'sc'),
 (378, 'northwest OK', 'ok'),
 (379, 'wenatchee', 'wa'),
 (380, 'duluth / superior', 'mn'),
 (381, 'lawton', 'ok'),
 (382, 'eastern montana', 'mt'),
 (383, 'houston', 'tx'),
 (384, 'mason city', 'ia'),
 (385, 'catskills', 'ny'),
 (386, 'elmira-corning', 'ny'),
 (387, 'grand island', 'ne'),
 (388, 'albany', 'ny'),
 (389, 'williamsport', 'pa'),
 (390, 'sierra vista', 'az'),
 (391, 'reno / tahoe', 'nv'),
 (392, 'chattanooga', 'tn'),
 (393, 'eastern CT', 'ct'),
 (394, 'philadelphia', 'pa'),
 (395, 'youngstown', 'oh'),
 (396, 'colorado springs', 'co'),
 (397, 'amarillo', 'tx'),
 (398, 'charleston', 'sc'),
 (399, 'detroit metro', 'mi'),
 (400, 'roswell / carlsbad', 'nm'),
 (401, 'parkersburg-marietta', 'wv'),
 (402, 'new york city', 'ny'),
 (403, 'valdosta', 'ga'),
 (404, 'bozeman', 'mt'),
 (405, 'duluth / superior', 'wi'),
 (406, 'memphis', 'tn'),
 (407, 'dubuque', 'ia'),
 (408, 'eastern shore', 'md'),
 (409, 'san antonio', 'tx'),
 (410, 'charlotte', 'nc'),
 (411, 'western massachusetts', 'ma'),
 (412, 'san luis obispo', 'ca'),
 (413, 'danville', 'va'),
 (414, 'reno / tahoe', 'ca'),
 (415, 'missoula', 'mt'),
 (416, 'northwest GA', 'ga'),
 (417, 'lincoln', 'ne'),
 (418, 'orange county', 'ca'),
 (419, 'northern panhandle', 'wv'),
 (420, 'springfield', 'mo'),
 (421, 'clarksville', 'tn'),
 (422, 'delaware', 'de'),
 (423, 'austin', 'tx'),
 (424, 'butte', 'mt'),
 (425, 'st cloud', 'mn'),
 (426, 'eau claire', 'wi'),
 (427, 'fort smith', 'ar')]

In [48]:
url = []
img_url=[]
l_id = []
for i in values:
    try:
        url.append(i[1])
        img_url.append(i[17])
        l_id.append(i[0])
    except IndexError:
        continue
        
insert_metadata_table = "Insert into MetaData(listing_id,url,image_url) Values(?,?,?);"

with conn:
    cur = conn.cursor()
    cur.executemany(insert_metadata_table,[(i,j,k) for i,j,k in zip(l_id,url,img_url)])

sql_statement = "select * from MetaData;"
execute_sql_statement(sql_statement, conn)

IntegrityError: UNIQUE constraint failed: MetaData.listing_id

In [44]:
def get_type(name,db_name):
    sql_statement = f"select * from {db_name}"
    with conn:
        try:
            c = execute_sql_statement(sql_statement, conn)
            laundry_dict = {x[1]: x[0] for x in c}
            return laundry_dict[name]
        except KeyError:
            return None

In [45]:
def get_location(name):
    sql_statement = "select location_id, region||state from Location"
    with conn:
        try:
            c = execute_sql_statement(sql_statement, conn)
            laundry_dict = {x[1]: x[0] for x in c}
            return laundry_dict[name]
        except KeyError:
            return None

In [47]:
for i in values[0:10]:
    print(i[15],get_type(i[15],"Laundry"))
    print(i[16], get_type(i[16],"Parking"))
    print(i[5], get_type(i[5],"HousingType"))
    location = f"{i[2]}{i[20]}".replace('\n',"")
    print(i[2], get_location(location))
    print("**********************************")

w/d in unit 3
carport 7
apartment 10
reno / tahoe 414
**********************************
w/d hookups 4
carport 7
condo 6
reno / tahoe 414
**********************************
w/d in unit 3
attached garage 8
apartment 10
reno / tahoe 414
**********************************
w/d in unit 3
carport 7
apartment 10
reno / tahoe 414
**********************************
laundry on site 6
NA 1
apartment 10
reno / tahoe 414
**********************************
laundry in bldg 2
NA 1
apartment 10
reno / tahoe 414
**********************************
laundry on site 6
off-street parking 5
apartment 10
reno / tahoe 414
**********************************
w/d in unit 3
carport 7
apartment 10
reno / tahoe 414
**********************************
w/d in unit 3
carport 7
apartment 10
reno / tahoe 414
**********************************
w/d in unit 3
carport 7
condo 6
reno / tahoe 414
**********************************

In [49]:
# housing_table = "CREATE TABLE HousingList (listing_id INTEGER NOT NULL PRIMARY KEY REFERENCES MetaData(listing_id) , price INTEGER, sqfeet INTEGER, beds INTEGER, baths INTEGER, cats_allowed INTEGER, dogs_allowed INTEGER, smoking_allowed INTEGER, wheelchair_access INTEGER, electric_vehicle_charge INTEGER, comes_furnished INTEGER, location_id TEXT NOT NULL REFERENCES Location(location_id), laundry_id TEXT NOT NULL REFERENCES Laundry(laundry_id),housing_type_id TEXT NOT NULL REFERENCES HousingType(housing_type_id), parking_id TEXT NOT NULL REFERENCES Parking(parking_id))"
input_tup = []
for i in values:
    try:
        l_id=i[0]
        price=i[4]
        sq_feet=i[6] 
        bed=i[7]
        bath=i[8]
        cats=i[9]
        dogs=i[10]
        smoking=i[11]
        wchair=i[12]
        e_charge=i[13]
        furnished=i[14]
        location = f"{i[2]}{i[20]}".replace('\n',"")
        loc = get_location(location)
        h_type = get_type(i[5],"HousingType")
        park_type = get_type(i[16],"Parking")
        ldry = get_type(i[15],"Laundry")
        insert_HousingList_table = "Insert into HousingList(listing_id,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access, electric_vehicle_charge, comes_furnished, location_id, laundry_id,housing_type_id, parking_id) Values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
        input_tup.append((l_id,price,sq_feet,bed,bath,cats,dogs,smoking,wchair,e_charge,furnished,loc,ldry,h_type,park_type))

    except Error as e:
        print(e)
        continue
        
# insert_metadata_table = "Insert into MetaData(listing_id,url,image_url) Values(?,?,?);"

# with conn:
#     cur = conn.cursor()
#     cur.executemany(insert_metadata_table,[(i,j,k) for i,j,k in zip(l_id,url,img_url)])
with conn:
    cur = conn.cursor()
    cur.executemany(insert_HousingList_table,input_tup)

sql_statement = "select count(*) from HousingList;"
execute_sql_statement(sql_statement, conn)

[(7003808130, 799, 954, 2, 2, 1, 1, 1, 0, 0, 0, '213', '4', '10', '1'),
 (7004010416, 1005, 1117, 2, 2, 1, 1, 1, 0, 0, 0, '87', '1', '10', '5'),
 (7004032234, 750, 763, 2, 2, 1, 1, 1, 0, 0, 0, '390', '6', '10', '7'),
 (7004041631, 1000, 800, 1, 0, 0, 1, 1, 0, 0, 0, '77', '2', '10', '7'),
 (7004048100, 530, 641, 1, 1, 1, 1, 1, 0, 0, 0, '128', '1', '10', '1'),
 (7004059925, 850, 1500, 3, 1, 0, 0, 0, 0, 0, 0, '351', '3', '12', '7'),
 (7004071335, 1000, 900, 1, 1, 0, 1, 1, 0, 0, 0, '77', '2', '10', '7'),
 (7004183951, 1500, 1200, 3, 1.5, 1, 0, 1, 0, 0, 0, '373', '3', '6', '3'),
 (7004199151, 545, 440, 0, 1, 1, 1, 1, 0, 0, 0, '390', '6', '10', '7'),
 (7004389140, 1550, 1700, 3, 2.5, 0, 0, 1, 0, 0, 0, '172', '4', '12', '8'),
 (7004529237, 570, 815, 2, 2, 1, 1, 1, 0, 0, 0, '160', '1', '12', '1'),
 (7004546974, 550, 900, 3, 3, 1, 1, 1, 0, 0, 0, '240', '1', '12', '1'),
 (7004554442, 600, 635, 1, 1, 0, 0, 1, 0, 0, 0, '351', '1', '10', '1'),
 (7004558383, 690, 858, 2, 1, 0, 0, 1, 0, 0, 0, '351', '6', '10', '1'),
 (7004561469, 740, 958, 3, 1.5, 0, 0, 1, 0, 0, 0, '351', '6', '10', '1'),
 (7004567218, 1279, 1190, 2, 2, 1, 1, 1, 0, 0, 0, '43', '1', '10', '1'),
 (7004568132, 1400, 1880, 3, 2, 0, 0, 0, 0, 0, 0, '313', '3', '5', '8'),
 (7004570307, 899, 1340, 2, 1, 1, 1, 1, 0, 0, 0, '87', '4', '10', '5'),
 (7004588837, 500, 780, 2, 1, 1, 1, 1, 0, 0, 0, '213', '1', '12', '1'),
 (7004604504, 995, 1540, 3, 2.5, 1, 1, 1, 0, 0, 0, '343', '3', '7', '8'),
 (7004626989, 3095, 1281, 2, 2, 1, 1, 1, 0, 0, 0, '195', '3', '10', '5'),
 (7004638292, 1310, 814, 2, 1.5, 1, 1, 1, 0, 0, 0, '140', '3', '10', '1'),
 (7004645442, 620, 700, 3, 3, 1, 1, 1, 0, 0, 0, '105', '1', '12', '1'),
 (7004655964, 600, 635, 1, 1, 0, 0, 1, 0, 0, 0, '351', '6', '10', '1'),
 (7004686153, 1200, 786, 1, 1, 1, 1, 1, 0, 0, 0, '43', '3', '10', '5'),
 (7004692207, 1220, 1232, 2, 2, 1, 1, 0, 0, 0, 0, '344', '4', '10', '5'),
 (7004693300, 1594, 938, 2, 2, 1, 1, 0, 0, 0, 0, '176', '3', '10', '7'),
 (7004694261, 1375, 1232, 2, 2, 1, 1, 0, 0, 0, 0, '344', '3', '10', '5'),
 (7004710736, 875, 920, 3, 1, 1, 1, 0, 0, 0, 0, '185', '4', '12', '7'),
 (7004725622, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004726636, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004727209, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004727936, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004729209, 740, 958, 3, 1.5, 0, 0, 1, 0, 0, 0, '351', '6', '10', '1'),
 (7004731427, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004739388, 720, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '3', '10', '5'),
 (7004748833, 720, 600, 1, 1, 1, 1, 1, 0, 0, 0, '351', '3', '10', '5'),
 (7004771404, 1000, 1524, 3, 1, 0, 0, 1, 0, 0, 0, '185', '1', '12', '1'),
 (7004787585, 1385, 1232, 2, 2, 1, 1, 1, 0, 0, 0, '344', '1', '10', '5'),
 (7004788129, 1990, 1218, 2, 2, 1, 1, 1, 0, 0, 0, '348', '3', '10', '5'),
 (7004798751, 1400, 1208, 3, 2, 0, 0, 0, 0, 0, 0, '140', '3', '7', '8'),
 (7004804925, 3095, 1281, 2, 2, 1, 1, 1, 0, 0, 0, '195', '3', '10', '5'),
 (7004808245, 1375, 1232, 2, 2, 1, 1, 1, 0, 0, 0, '344', '1', '10', '5'),
 (7004813263, 3795, 944, 2, 2, 1, 1, 1, 0, 0, 0, '110', '3', '10', '5'),
 (7004814774, 1299, 1100, 2, 2, 1, 1, 1, 0, 0, 0, '43', '1', '10', '1'),
 (7004833534, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004834784, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004835933, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004837462, 695, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004840070, 1870, 650, 1, 1, 1, 0, 0, 0, 0, 0, '195', '6', '10', '1'),
 (7004840635, 720, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004844239, 875, 920, 3, 1, 1, 1, 0, 0, 0, 0, '185', '4', '12', '1'),
 (7004844818, 669, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004847782, 720, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004856264, 669, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004867769, 720, 600, 1, 1, 1, 1, 1, 0, 0, 0, '351', '3', '10', '5'),
 (7004868036, 870, 890, 2, 1, 1, 1, 0, 0, 0, 0, '16', '3', '10', '7'),
 (7004872882, 669, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004875313, 589, 450, 0, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004882923, 891, 850, 2, 1, 0, 0, 0, 0, 0, 0, '210', '6', '10', '5'),
 (7004883859, 669, 650, 1, 1, 1, 1, 1, 0, 0, 0, '351', '6', '10', '5'),
 (7004912782, 899, 1390, 2, 1, 1, 1, 1, 0, 0, 0, '87', '4', '10', '5'),
 (7004924449, 1119, 897, 1, 1, 1, 1, 1, 0, 0, 0, '43', '1', '10', '1'),
 (7004960140, 1800, 2600, 4, 3, 1, 1, 1, 0, 0, 0, '344', '4', '12', '8'),
 (7004965389, 1950, 1620, 3, 2.5, 0, 0, 0, 0, 0, 0, '110', '4', '12', '8'),
 (7004972502, 1026, 650, 1, 1, 1, 1, 0, 0, 0, 0, '348', '1', '10', '1'),
 (7005018697, 925, 1222, 3, 1.5, 1, 1, 1, 0, 0, 0, '276', '1', '6', '1'),
 (7005095035, 769, 2500, 1, 1, 0, 0, 1, 0, 0, 0, '157', '3', '10', '7'),
 (7005175710, 1500, 1200, 3, 1, 1, 1, 0, 0, 0, 0, '77', '3', '10', '8'),
 (7005223850, 670, 665, 1, 1, 1, 1, 1, 1, 0, 0, '240', '4', '10', '1'),
 (7005233396, 1004, 1350, 4, 2, 1, 1, 1, 0, 0, 0, '301', '4', '10', '1'),
 (7005233595, 1079, 1522, 4, 2, 1, 1, 1, 0, 0, 0, '301', '3', '10', '1'),
 (7005255839, 945, 868, 2, 1.5, 1, 1, 0, 0, 0, 0, '33', '6', '10', '1'),
 (7005263159, 830, 900, 2, 2, 1, 1, 1, 0, 0, 0, '105', '1', '10', '1'),
 (7005263681, 891, 805, 1, 1, 1, 1, 1, 0, 0, 0, '185', '1', '10', '1'),
 (7005275831, 640, 725, 2, 1, 0, 0, 1, 0, 0, 0, '213', '1', '12', '1'),
 (7005280485, 590, 975, 3, 3, 1, 1, 1, 0, 0, 0, '160', '1', '12', '1'),
 (7005280968, 820, 1200, 2, 2.5, 1, 1, 0, 0, 0, 0, '343', '3', '7', '5'),
 (7005284300, 509, 700, 2, 2, 1, 1, 1, 1, 0, 1, '397', '3', '10', '5'),
 (7005295921, 2050, 1600, 3, 2.5, 1, 1, 1, 0, 0, 0, '91', '3', '6', '5'),
 (7005303091, 1250, 1488, 3, 2.5, 1, 1, 0, 0, 0, 0, '252', '3', '7', '3'),
 (7005313963, 965, 1128, 2, 2, 0, 0, 1, 0, 0, 0, '240', '1', '10', '1'),
 (7005317030, 600, 635, 1, 1, 0, 0, 1, 0, 0, 0, '351', '6', '10', '1'),
 (7005320265, 690, 858, 2, 1, 0, 0, 1, 0, 0, 0, '351', '6', '10', '1'),
 (7005321691, 799, 705, 1, 1, 1, 1, 1, 0, 0, 0, '87', '4', '10', '5'),
 (7005324871, 570, 960, 2, 2, 1, 1, 1, 0, 0, 0, '256', '1', '12', '1'),
 (7005325238, 1650, 1054, 3, 2, 0, 0, 1, 0, 0, 0, '157', '3', '6', '5'),
 (7005336626, 1325, 1214, 3, 2, 0, 0, 1, 0, 0, 0, '43', '1', '10', '1'),
 (7005340001, 850, 803, 2, 2, 1, 1, 1, 0, 0, 0, '88', '1', '10', '1'),
 (7005344750, 640, 765, 2, 1, 0, 0, 1, 0, 0, 0, '240', '1', '12', '1'),
 (7005358722, 2640, 982, 2, 2, 1, 1, 0, 1, 0, 0, '56', '3', '10', '6'),
 (7005383987, 895, 910, 2, 1, 1, 0, 1, 0, 0, 0, '61', '3', '10', '5'),
 (7005386100, 1500, 1142, 2, 2, 0, 0, 1, 0, 0, 0, '216', '1', '10', '1'),
 (7005389559, 1025, 900, 2, 2, 1, 1, 1, 0, 0, 0, '257', '3', '10', '7'),
 (7005390337, 1795, 900, 1, 1, 0, 0, 1, 0, 0, 1, '195', '6', '12', '3'),
 (7005394463, 560, 745, 3, 3, 1, 1, 1, 0, 0, 0, '46', '1', '12', '1'),
 (7005396448, 590, 980, 2, 1, 0, 0, 1, 0, 0, 0, '301', '1', '12', '1'),
 (7005397713, 1615, 737, 1, 1, 1, 1, 1, 0, 0, 0, '172', '3', '10', '7'),
 (7005398377, 1274, 960, 2, 2, 1, 1, 1, 0, 0, 0, '268', '6', '10', '5'),
 (7005412212, 740, 958, 3, 1.5, 0, 0, 1, 0, 0, 0, '351', '6', '10', '1')]

In [50]:
sql_statement = "select count(*) from HousingList;"
execute_sql_statement(sql_statement, conn)

[(384977,)]