In [2]:
import pandas as pd
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np

In [3]:
df = pd.read_csv("data/housing.csv")
df.head()

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,7049044568,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,1148,apartment,1078,3,2.0,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.796,ca
1,7049047186,https://reno.craigslist.org/apa/d/reno-reduced...,reno / tahoe,https://reno.craigslist.org,1200,condo,1001,2,2.0,0,...,0,0,0,w/d hookups,carport,https://images.craigslist.org/00V0V_5va0MkgO9q...,Conveniently located in the middle town of Ren...,39.5026,-119.789,ca
2,7043634882,https://reno.craigslist.org/apa/d/sparks-state...,reno / tahoe,https://reno.craigslist.org,1813,apartment,1683,2,2.0,1,...,0,0,0,w/d in unit,attached garage,https://images.craigslist.org/00t0t_erYqC6LgB8...,2BD | 2BA | 1683SQFTDiscover exceptional servi...,39.6269,-119.708,ca
3,7049045324,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095,apartment,708,1,1.0,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.771,ca
4,7049043759,https://reno.craigslist.org/apa/d/reno-no-long...,reno / tahoe,https://reno.craigslist.org,289,apartment,250,0,1.0,1,...,1,0,1,laundry on site,NaN,https://images.craigslist.org/01616_fALAWFV8zQ...,"Move In Today: Reno Low-Cost, Clean & Furnishe...",39.5357,-119.805,ca

In [5]:
df.drop(["url","region_url","image_url","description","lat","long","id","region"], axis = 1, inplace=True)
display(df)

,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,state
0,1148,apartment,1078,3,2.0,1,1,0,0,0,0,w/d in unit,carport,ca
1,1200,condo,1001,2,2.0,0,0,0,0,0,0,w/d hookups,carport,ca
2,1813,apartment,1683,2,2.0,1,1,1,0,0,0,w/d in unit,attached garage,ca
3,1095,apartment,708,1,1.0,1,1,1,0,0,0,w/d in unit,carport,ca
4,289,apartment,250,0,1.0,1,1,1,1,0,1,laundry on site,NaN,ca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384972,1295,apartment,957,2,2.0,1,1,1,0,0,0,w/d in unit,carport,ca
384973,1549,apartment,1034,2,2.0,1,1,0,0,0,0,w/d in unit,NaN,ca
384974,1249,apartment,840,2,1.0,1,1,1,0,0,0,laundry on site,off-street parking,ca
384975,1429,apartment,976,2,2.0,1,1,1,0,0,0,w/d in unit,carport,ca
384976,1295,apartment,957,2,2.0,1,1,1,0,0,0,w/d in unit,carport,ca

In [6]:
df.isnull().sum()
df["laundry_options"]=df["laundry_options"].fillna(df["laundry_options"].mode()[0])
df["parking_options"]=df["parking_options"].fillna(df["parking_options"].mode()[0])
df.isnull().sum()

price                      0
type                       0
sqfeet                     0
beds                       0
baths                      0
cats_allowed               0
dogs_allowed               0
smoking_allowed            0
wheelchair_access          0
electric_vehicle_charge    0
comes_furnished            0
laundry_options            0
parking_options            0
state                      0
dtype: int64

In [7]:
label_encoder = preprocessing.LabelEncoder()
categorical_cols = ["type","laundry_options","parking_options","state"]
for col_name in categorical_cols:
    df[col_name] = label_encoder.fit_transform(df[col_name])

print(df.head())

   price  type  sqfeet  beds  baths  cats_allowed  dogs_allowed  \
0   1148     0    1078     3    2.0             1             1
1   1200     2    1001     2    2.0             0             0
2   1813     0    1683     2    2.0             1             1
3   1095     0     708     1    1.0             1             1
4    289     0     250     0    1.0             1             1

   smoking_allowed  wheelchair_access  electric_vehicle_charge  \
0                0                  0                        0
1                0                  0                        0
2                1                  0                        0
3                1                  0                        0
4                1                  1                        0

   comes_furnished  laundry_options  parking_options  state
0                0                4                1      4
1                0                3                1      4
2                0                4                0      4
3                0                4                1      4
4                1                1                4      4

In [8]:
X = df.drop('price', axis=1)
y = df["price"]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [16]:
linear = LinearRegression()
linear.fit(X_train, y_train)
y_pred=linear.predict(X_test)
lr_r2=metrics.r2_score(y_test, y_pred)
lr_MSE=metrics.mean_squared_error(y_test, y_pred)
lr_RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print(lr_r2, lr_MSE, lr_RMSE)

-0.03227222019578546 7392173611.226228 85977.75067554529

In [44]:
from sklearn import svm

svm_reg = svm.SVR()
svm_reg.fit(X_train, y_train)
y_pred=svm_reg.predict(X_test)
lr_r2=metrics.r2_score(y_test, y_pred)
lr_MSE=metrics.mean_squared_error(y_test, y_pred)
lr_RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print(lr_r2, lr_MSE, lr_RMSE)

In [11]:
from sklearn import tree

clf = tree.DecisionTreeRegressor()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
lr_r2 = metrics.r2_score(y_test, y_pred)
lr_MSE = metrics.mean_squared_error(y_test, y_pred)
lr_RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print(lr_r2, lr_MSE, lr_RMSE)

-36947.42593636369 199078839691484.22 14109530.101725012

In [13]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=1, random_state=0)
gbr.fit(X_train, y_train)
y_pred = gbr.predict(X_test)
lr_r2 = metrics.r2_score(y_test, y_pred)
lr_MSE = metrics.mean_squared_error(y_test, y_pred)
lr_RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print(lr_r2, lr_MSE, lr_RMSE)

-0.02124119440159533 5502467476.605683 74178.6187294269

In [14]:
print(y_pred[0:10])
print(y_test[0:10])

[ 5581.73360204  5581.73360204  5581.73360204 13628.1084786
  5581.73360204 13628.1084786  13628.1084786   5581.73360204
  5581.73360204 13628.1084786 ]
319089    1255
264900     875
309051    1050
35140     1079
233187     629
348225     715
73131      785
310475     880
95782      845
42312      785
Name: price, dtype: int64